*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 1200px;
    background-color: wheat;
    height: 220vh;
}
#wrape1{
    width: 100%;
    height: 864px;
    background: url('../assets/showcase\(crop\).png') no-repeat;
    background-position:bottom;
    background-size: cover;
}
#wrape1 .topbar{
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, transparent, rgba(0,0,0,0.7));
}
#wrape1 header{
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    top: 10px;
}
#wrape1 .logo{
    flex: 1;
    font-size: 32px;
}
#wrape1 .logo span{
    color: green;
}
#wrape1 .help{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
#wrape1 .help a{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    font-size: 20px;
}
#wrape1 .help a:hover{
    color: orangered;
}
#wrape1 .help img{
    margin-right: 5px;
    width: 20px;
}
#wrape1 .join a{
    display: inline-block;
    padding: 5px 20px;
    border: 2px solid black;
    box-shadow: 2px 3px 0 black;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.5s;
}
#wrape1 .join a:hover{
    transform: scale(1.1);
    background-color: orangered;
}

#wrape1 .content{
    position: relative;
    text-align: center;
    top: 190px;
}
#wrape1 .content h2{
    font-size: 58px;
    letter-spacing: 2px;
}
#wrape1 .content p{
    font-size: 26px;
    letter-spacing: 1px;
    color: gray;
}
#wrape1 .content .search{
    display: inline-flex;
    border: 1px solid black;
    border-radius: 10px;
   
}
#wrape1 .content img{
    width: 25px;
    padding: 5px 0 3px 5px;
}
#wrape1 .content input{
    width: 800px;
    border: none;
    padding: 5px 5px 3px 3px;
    background: none;
}
#wrape1 .content input:focus{
    outline: none;
}

#wrape2 {
    display: grid;
    width: 100%;
    height: 350px;
    background-color: wheat;
    place-items: center;
    
}

/* #wrape2 .card{
    position: relative;
    display: flex;
    width: 90%;
    height: 70%;
    margin: auto;
    top: 15%;
}

#wrape2 .box{
    flex: 1;
    border: 1px solid black;
    
}
#wrape2 .box1{
    margin-right: 30px;
    background-color:rgb(207, 103, 120) ;
}
#wrape2 .box2{
    margin-right: 15px;
    margin-left: 15px;
    background-color: rgb(231, 89, 37);
}
#wrape2 .box3{
    margin-left: 30px;
    background-color: rgb(117, 59, 117);
} */

#wrape2 .card{
    width: 90%;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 80px ;
    margin: auto;
}
#wrape2 .box{
    border: 2px solid rgba(0, 0, 0, 0.8);
    box-shadow: 4px 3px 5px 2px black;
    transition: 0.5s;
}
#wrape2 .box1{
    background-color: lightcoral;
    
}
#wrape2 .box img{
    float: right;
}
#wrape2 .box h3, .box p, .box button{
    position: relative;
    top: 40px;
    left: 15px;
    color: white;
}
#wrape2 .box h3{
    font-size: 25px;
    margin-bottom: 10px;
}
#wrape2 .box button{
    width: 150px;
    font-size: 15px;
    margin-top: 30px;
    padding: 10px 0px;
    color: black;
    border: 2px solid black;
    box-shadow: 3px 4px 0 black;
   
}
#wrape2 .box button:hover{
   background-color: coral;
   
}
#wrape2 .box:hover{
    transform: scale(1.2);
}
#wrape2 .box2{
    background-color: rgb(201, 123, 60)
}
#wrape2 .box2 img{
    position: relative;
    width: 85px;
    right: 5px;
}
#wrape2 .box3{
    background-color: rgb(172, 68, 172)
}
#wrape2 .box3 img{
    position: relative;
    right: 3px;

}


#wrape3 .left {
    /* border: 1px solid black; */
}
#wrape3 .left .list{
    position: relative;
    display: flex;
    align-items: center ;
    margin-top: 30px;
}
#wrape3 .left img{
    width: 50px;
}
#wrape3 .left a{
    font-size: 25px;
    text-decoration: none;
    color: black;
    margin-left: 5px;
}
#wrape3 .left a:hover{
    color: coral;
}
#wrape3 {
    display: grid;
    grid-template-columns: auto 60%;
    grid-column-gap: 50px;
    width: 90%;
    height: 90vh;
    margin: auto;
    /* border: 1px solid black; */
}
#wrape3 .right{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 40px;
    grid-row-gap:40px ;
    /* border: 1px solid black; */
}
#wrape3 .right .product{
    background-color: white;
    text-align: center;
    height: 100%;
    border: 2px solid black;
    transition: 0.5s;
}
#wrape3 .right .product:hover{
    transform: scale(1.1);
}
#wrape3 .right .discount{
    position: relative;
    text-align: right;
    right: 20px;
    top: 20px;
}
#wrape3 .right .discount span{
    border: 1px solid black;
    padding: 5px 20px;
    background-color: rgb(209, 63, 63);
    border-radius: 6px;
    color: white;
   
}
#wrape3 .right .description{
    text-align: left;
    padding: 0 10px;
}
#wrape3 .right .description .originalprice{
    position: relative;
    font-size: 36px;
    color: red;
    text-decoration: line-through;
    bottom: 10px;
}
#wrape3 .right .cart p{
    color: green;
    font-size: 36px;
}
#wrape3 .right .cart img{
    width: 25px;
    margin-right: 5px;
}
#wrape3 .right .cart{
    position: relative;
    display: flex;
    align-items: center;
    bottom: 10px;
    
    
}
#wrape3 .right .cart .p1{
    position: relative;
    flex: 0.85;
    text-align: left;
    left: 10px;
}
#wrape3 .right .cart .button{
    display: flex;
    align-items: center;
    border: 2px solid black;
    padding: 5px 20px;
    box-shadow: 3px 4px 0 black;
    transition: 0.5s;
}
#wrape3 .right .cart .button:hover{
    transform: scale(1.1);
    background-color: brown;
 }
#wrape3 .right .cart .button a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#wrape3 .right .cloth{
    width: 250px;
}
